/*global*/
body{margin:0;font-family:"Microsoft YaHei";background-color:#dedede; }
ul{list-style-type: none;}
article,aside{background-color:#fff;margin: 0 auto;width: 85%;padding:20px;margin-top: 20px;box-shadow:4px 4px 4px #aaa;}

/*header*/
header{margin: 0;background-color: #333;color: #fff;}
.main-nav{margin: 0 auto;width: 85%;position:relative; padding: 15px;}
.main-nav .logo{max-width: 100px;}
.main-nav .nav-links{margin:0;padding:0;right:0;top:50%;position:absolute;margin-top: -0.5em;font-size: 14px;}
.main-nav .nav-links li{list-style-type: none;float: left;margin-left: 5em;}
.main-nav .nav-links a{text-decoration: none;color: #fff;}

/*content*/
.content{margin:0;}
h3{color:#aaa; }
.author{color: #ccc;}
.addtime{color: #ccc;}
p{text-indent:2em;}
figure{border:1px solid #aaa;width: 150px;text-align: center;}
figure img{max-width: 80%;margin-bottom: 10px;}

table{border:0;border-collapse: collapse;}
thead{background-color: #333;color: #fff;}
tfoot{background-color: #ccc;}
td{border:1px solid #aaa;padding:4px;}

/*aside*/
aside{line-height:3em;}
aside h2{border-left:3px solid #aaa;font-size: 18px;padding:10px 10px 10px 15px; }
aside .input-title{width:40%;display: inline-block;text-align: right;vertical-align: top;}
aside .input-tip{margin-left:40%;font-size: 14px;color: #aaa;}
aside input,aside select,aside textarea{padding:5px;font-family: "Microsoft YaHei"}
aside textarea{width: 400px;height: 100px;}
.aside-form-botton{width: 40%;margin: 0 auto;}
aside button{width:100%;margin:0 auto;background:rgb(51,85,208);padding:20px;border-radius:10px;color:#fff;cursor:pointer;}

/*footer*/
footer{margin: 0 auto;background-color: #333;color: #fff;text-align:center;padding:20px;margin-top: 20px;}